<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright (C) 2003-2015 eXo Platform SAS.

    This file is part of Codefest 2015 - Team C Addon - Webapp.

    Codefest 2015 - Team C Addon - Webapp is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 3 of
    the License, or (at your option) any later version.

    Codefest 2015 - Team C Addon - Webapp software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with Codefest 2015 - Team C Addon - Webapp; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>team-c-addon-webapp</display-name>

  <!-- Run mode: prod, dev or live -->
  <context-param>
    <param-name>juzu.run_mode</param-name>
    <param-value>${juzu.run_mode:dev}</param-value>
  </context-param>

  <!-- Injection container to use: guice, spring, cdi or weld -->
  <context-param>
    <param-name>juzu.inject</param-name>
    <param-value>guice</param-value>
  </context-param>

  <listener>
    <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
  </listener>

</web-app>
